# CMake 本地构建目录
/build*/
/out/

# 误在源码目录生成的 C/C++ 构建产物
*.exe
*.dll
*.a
*.lib
*.o
*.obj
*.pdb
*.ilk
*.exp
*.manifest
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile
build.ninja
.ninja_deps
.ninja_log
compile_commands.json
